.container {
  height: 100vw;
  padding: 0;
  margin: 0;
}
.menu {
  padding: 20px 10px;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  //   background-color: yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
  }
  .menus {
    cursor: pointer;
    text-decoration: none;
    margin: 0px 5px;
    list-style: none;
    cursor: pointer;

    width: auto;
    a {
      text-decoration: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: black;
      color: #d0cbcb;
    }
  }
  ul {
    li:first-child {
      margin-left: 13px;
    }
    li {
      position: relative;
    }
    li.active {
      font-weight: bold;
      a {
        color: #ffff;
        font-weight: bold;
      }
    }
    li.active::after {
      content: " ";
      position: absolute;
      height: 3px;
      width: 100%;
      background-color: #ffff;
      left: 0;
      bottom: -8px;
      border-bottom-left-radius: 2px;
      border-top-right-radius: 2px;
      animation: appear 0.3s linear;
    }
  }
  .right-menu {
    display: flex;
    align-items: center;
    .filter-logo {
      margin-right: 10px;
      margin-top: 0.5px;
      color: #d0cbcb;
      cursor: pointer;
    }
    .filter-name {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      cursor: pointer;
      color: #d0cbcb;
      margin-right: 25px;
    }
  }
}
.filter {
  position: relative;
}
//KeyFrames
@keyframes appear {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
